<div *ngIf="product" style="text-align: center;">
    <img class="card-img-top" [src]="product.imageUrl" alt="Card image" style="width: 200px; height: auto; margin-bottom: 10px; object-fit: contain;"> 
    <h3>{{ product.name }}</h3>
    <p><b>Description:</b> {{ product.description }}</p>
    <p><b>Price:</b> ₹{{ product.price }}/-</p>
    <!-- You can add more details here -->
    <!-- <p align="right"><button (click)="addToCart(product)" class="btn btn-primary">AddToCart</button> </p> -->
    <button (click)="addToCart()"  class="btn btn-primary">AddToCart</button>
</div>

  