<h3>Welcome {{emailId}}!</h3>

<h1 align="center">Products</h1> <br/>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
            <div class="card my-3" style="width:250px">
                <a  [routerLink]="['/product', product.id]">
                <img class="card-img-top" [src]="product.imageUrl" alt="Card image">
                
            </a>
                    <!-- <style="width:60%; height: 200px; margin-top: 5px; margin-left: 40px; object-fit: cover;"> -->
                <div class="card-body">
                    <p class="card-text">{{product.id}}</p>
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text"><b>Price: ₹{{product.price}}/-</b></p>
                    <p class="card-text">{{product.description}}</p>
                    <p align="right"><button (click)="addToCart(product)" class="btn btn-primary">AddToCart</button> </p>
                    <!-- <button (click)="selectProduct(product)" class="btn btn-primary">AddToCart</button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<app-productinfo [product]="selectedProduct"></app-productinfo>
